# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives** 

* illustrate how to use Python for simplae arithmatic
* illustrate how to **emnphasize** in bold
* illustrate how to make a table with Markdown

Some of the popular languages that Data Scientists use are:

    1. Python 
    2. Scala 
    3. R

Some of the commonly used libaries used by Data Scientists include:
    
    1. pandas
    2. numPy
    3. scikit-learn

|Data Science Tools|
|------------------|
|Apache Spark
|Apache Hadoop
|RStudio

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
print('This is a simple arithmetic expression to multiple then add integers.')
(3*4)+5

This is a simple arithmetic expression to multiple then add integers.

17

In [6]:
#This will convert 200 minutes to hour by dividing by 60
x = 200/60
print (round(x,2))

3.33

## Author
Trebys Yort